/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200vh;
  min-height: 40vh;
  max-height: 280vh;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
}
.headEl {
  width: 300px;
  height: 200px;
  font-family: 'Bree Serif';
  font-size: 40px;
  text-align: center;
}
.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 80px;
  border: 2px solid #7b8794;
}
.inputEl {
  width: 430px;
  height: 60px;
  font-family: 'Roboto';
  font-size: 25px;
  border: none;
}
.searchImgEl {
  width: 55px;
  height: 55px;
  border: none;
}
.tabItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
}
.appItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 92%;
  height: 70vh;
  list-style-type: none;
}
